.accio{
	width:150px;
	height:150px;
	background-color:black;
}
#id{
	width:150px;
	height:150px;
	background-color:black;
}
.hello-accio{
	color:white;
	margin-lest:32px;
	padding:10px;
}

/* Your CSS Code here. */